.glyph {
	--glyph-size: 1rem;
	--glyph-fill: #25282b;
	align-items: center;
	display: inline-flex;
	height: var(--glyph-size);
	width: var(--glyph-size);
}

[class*='glyph__'] {
	width: 100%;
	fill-rule: evenodd;
}

.glyph__menu {
	--glyph-fill: var(--color-gray-f);
	stroke: var(--glyph-fill);
}

.glyph__filter,
.glyph__edit,
.glyph__cross {
	stroke: var(--glyph-fill);
}
