.root {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.info_row {
	display: flex;
	align-items: flex-start;
	gap: 16px;
}

.divider {
	align-self: stretch;
	--divider-vertical-height: auto;
}

.field_wrapper {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.title {
	font-size: 14px;
	font-weight: 500;
}

.buttons_row {
	display: flex;
	justify-content: space-between;
	padding: 20px 0 0 0;
	border-top: 2px solid var(--color-gray-14);
}

.label {
	color: var(--color-gray-60);
	font-size: 12px;
	line-height: normal;
}

.label__required::after {
	content: '*';
	color: var(--color-red-80);
	padding-left: 5px;
}

.root .textarea {
	--textarea-width: 100%;
	box-sizing: border-box;
	--textarea-max-height: 200px;
	--textarea-resize: vertical;
	--textarea-height: 75px;
	--textarea-min-height: 75px;
}

.root .textarea textarea {
	width: 100%;
	box-sizing: border-box;
	font-size: 13px;
}
