.paramsContainer {
	padding: 0 10px 10px 10px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	&__header {
		display: flex;
		font-weight: 500;
		font-size: 13px;
		line-height: 15px;
	}
	&__body {
		display: flex;
		flex-direction: column;
		padding: 0;
		gap: 20px;
	}
}
