.body {
	display: flex;
	flex-direction: row;
	gap: 10px;
	position: relative;
}

.points {
	display: flex;
	flex-wrap: wrap;
	gap: 44px;
	row-gap: 5px;
	padding-bottom: 26px;
	border-bottom: 1px solid var(--color-gray-13);
	margin-bottom: 26px;
}

.point_group {
	padding: 0;
	width: 100%;
	flex: 0 0 calc(50% - 22px);
	min-width: 700px;
	position: relative;
}

.point_group:first-child::after {
	content: '';
	width: 1px;
	height: 100%;
	position: absolute;
	background-color: var(--color-gray-14);
	right: -22px;
	top: 0;
}

h4 {
	font-size: 0.875em;
	font-weight: 500;
	margin: 0 0 7px;
}

.group_items {
	display: flex;
	justify-content: space-between;
	gap: 8px;
}

.item {
	padding: 3px 10px;
	background-color: var(--color-gray-1);
	border: 1px solid var(--color-gray-14);
	border-radius: 4px;
	font-size: 0.875em;
	flex-grow: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.item__value {
	font-weight: 500;
}

.point_input {
	width: 80px;
}

.point_input input {
	text-align: right;
}

.select_point {
	--select-height: 24px;
	--select-toggle-background-color: var(--color-yellow-40);
	--select-toggle-icon-color: var(--ui-gray-100);
	--pane-top: 23px;
	position: relative;
	margin: 3px 0 0;
	width: 150px;
}

.select_point :global([class*='select__single']) {
	min-width: 150px;
	width: 150px;
}

.select_point :global([class*='select__toggle']):before {
	content: '';
}

.select_point__active {
	--select-body-background-color: var(--color-yellow-40);
}

.select_point button {
	font-family: inherit;
	font-size: 0.857em;
	font-weight: 375;
}

.edit_input_body {
	display: flex;
	flex-direction: column;
}

.edit_input_form {
	--table-width: fit-content;
	--footer-height: 0;
	position: relative;
	font-size: 0.929em;
	line-height: 1em;
	font-weight: 400;
	padding-bottom: 25px;
}

.edit_input_form table {
	border-spacing: 0 4px;
	table-layout: fixed;
	height: min-content;
}

.edit_input_form table thead {
	top: 0;
	position: sticky;
	position: -webkit-sticky;
	z-index: 110;
	background-color: var(--color-gray-f);
	border-spacing: 0;
}

.edit_input_form::-webkit-scrollbar {
	width: 16px;
	height: 16px;
}

.edit_input_form::-webkit-scrollbar-thumb {
	background: var(--color-gray-20);
	border-radius: 10px;
	border: 6px solid transparent;
	background-clip: padding-box;
}

.edit_input_form::-webkit-scrollbar-thumb:hover {
	border-width: 3px;
}

.edit_input_form::-webkit-scrollbar-track {
	box-shadow: inset 0 0 4px 4px var(--color-gray-4);
	border: solid 5px white;
	border-radius: 10px;
}

.edit_input_form :global([class*='header__cell']) {
	font-size: 0.875em;
	color: var(--color-gray-70);
	padding: 0;
	font-weight: 375;
}

.edit_input_form :global([class*='cell-data']) {
	border-left: 0;
	border-right: 0;
	border-radius: 3px;
	padding: 0;
	line-height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.edit_input_form tr {
	background-color: var(--color-gray-1);
	height: 30px;
	font-weight: 375;
	border-radius: 3px;
}

.edit_input_form :global([class*='Table_row']) {
	vertical-align: top;
}

.edit_input_form tr:hover td,
.edit_input_form tr:focus td {
	background-color: var(--color-vinous-10);
}

.edit_input_form td {
	background-color: var(--color-gray-1);
	border-top: 1px solid var(--color-gray-14);
	border-bottom: 1px solid var(--color-gray-14);
}

.edit_input_form td:nth-child(4n + 3),
.edit_input_form td:nth-child(4n + 4) {
	background-color: var(--default-global-background-color);
}

.edit_input_form tr:hover td,
.edit_input_form tr:focus td {
	border-top: 1px solid var(--color-vinous-15);
	border-bottom: 1px solid var(--color-vinous-15);
}

.edit_input_form td:last-child {
	border-right: 1px solid var(--color-gray-14);
	border-radius: 0 3px 3px 0;
}

.edit_input_form tr td:first-child,
.edit_input_form tr td:first-child {
	border-left: 1px solid var(--color-gray-14);
	border-radius: 3px 0 0 3px;
}

.edit_input_form tr:hover td:first-child,
.edit_input_form tr:focus td:first-child {
	border-left: 1px solid var(--color-vinous-15);
}

.edit_input_form tr:hover td:last-child,
.edit_input_form tr:focus td:last-child {
	border-right: 1px solid var(--color-vinous-15);
}

.edit_input_form :global([class*='groups']) {
	transform: translatey(4px);
}

.edit_input_form :global([class*='group']) {
	text-align: center;
	color: var(--color-gray-70);
	font-size: 14px;
	background-color: var(--default-global-background-color);
	height: 28px;
	font-weight: 375;
}

.edit_input_form :global([class*='group']):not(:last-child) {
	border-right: 2px solid var(--color-gray-f);
}

.edit_input_form :global([class*='group__hidden']) {
	background-color: var(--color-gray-f);
}

.input_form :global([class*='header_table_text']) {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	word-break: break-all;
	display: block;
	align-items: center;
	font-size: 1em;
	width: 100%;
	padding: 0 15px;
	box-sizing: border-box;
}

.edit_input_form .table_text {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	word-break: break-all;
	display: block;
	align-items: center;
	font-size: 1em;
	width: 100%;
	padding: 0 15px;
	box-sizing: border-box;
}

.edit_input_form .table_text__right {
	text-align: right;
}

.edit_input_form table .row_header {
	background-color: var(--color-gray-13);
	color: var(--color-gray-0);
	font-weight: 500;
}

.comment {
	height: fit-content;
	font-family: inherit;
	width: 100%;
	border-radius: 4px;
	border: 1px solid var(--color-gray-20);
	color: var(--color-gray-10);
	box-sizing: border-box;
	font-size: 0.857em;
	margin-top: 3px;
}

.select {
	--select-height: 24px;
	--select-toggle-background-color: var(--color-yellow-40);
	--select-toggle-icon-color: var(--ui-gray-100);
	--pane-top: 23px;
	position: relative;
	margin: 3px 0 0;
	width: 77px;
}

.select :global([class*='select__single']) {
	min-width: 77px;
	width: 77px;
}

.select :global([class*='select__toggle']):before {
	content: '';
}

.select__active {
	--select-body-background-color: var(--color-yellow-40);
}

.select button {
	font-family: inherit;
	font-size: 0.857em;
	font-weight: 375;
}

.input {
	margin-top: 3px;
	margin-bottom: 3px;
	height: 30px;
	text-align: right;
	box-sizing: border-box;
}

.input input {
	text-align: right;
}

.input input::-webkit-outer-spin-button,
.input input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.root .controls {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	border-top: 2px solid var(--color-gray-14);
}

.root .controls button {
	border-color: var(--color-yellow-40);
}

.apply {
	display: flex;
	gap: 10px;
}

.root .controls .close button:hover {
	background-color: var(--color-yellow-50);
	border-color: var(--color-yellow-50);
}

.root .controls .apply button {
	background-color: var(--color-yellow-40);
}

.root .controls .apply button:hover {
	background-color: var(--color-yellow-50);
	border-color: var(--color-yellow-50);
}

.legend {
	display: flex;
	gap: 20px;
	font-size: 13px;
	justify-content: flex-end;
	padding-right: 10px;
}

.legend div {
	display: flex;
	align-items: center;
	gap: 8px;
}

.legend .block {
	width: 10px;
	height: 10px;
}

.middle {
	border: 1px solid #daa2bd;
	background-color: #ecd0de;
}

.correction {
	border: 1px solid #6ea566;
	background-color: #dbe9d9;
}

.constant {
	border: 1px solid #fab82e;
	background-color: #ffe3b4;
}
