$main-color: #fab82e;
$white: #ffffff;

$yellow-1: #fff8ec;
$yellow-2: #fef0d8;
$yellow-4: #fdd796;
$yellow-5: #fdca75;
$yellow-7: #FAB82E;
$yellow-8: #FDA610;
$yellow-10: #fff8ec;
$yellow-60: #fab82e;
$yellow-70: #f9a823;

$gray-f: #FFFFFF;
$gray-1: #fafafa;
$gray-2: #f5f5f5;
$gray-3: #f0f0f0;
$gray-4: #eaeaea;
$gray-5: #d9dada;
$gray-6: #bfbfbf;
$gray-7: #8c8c8c;
$gray-8: #595959;
$gray-10: #262626;
$gray-15: #d8d8d8;
$gray-20: #cccccc;
$gray-30: #bebebf;
$gray-60: #868686;
$gray-90: #2b2b2a;

$red-4: #eb5757;

$pink-1: #faf3f9;
$pink-2: #eee5ec;

$green-4: #5cb681;
