.preview {
	--preview-width: 100%;
	--preview-height: 100%;
	--preview-image-max-width: 100%;
	--preview-image-max-height: 100%;

	/* 	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center; */
	width: var(--preview-width);
	height: var(--preview-height);
}

.image {
	max-width: var(--preview-image-max-width);
	max-height: var(--preview-image-max-height);
}
.image_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}
.no_image {
	color: var(--color-gray-30);
}
.preview_title {
	width: 100%;
	border-bottom: 2px solid var(--color-gray-13);
	margin: 0;
	color: var(--color-gray-70);
	font-weight: 375;
}
